body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: black;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#startScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 10;
}

#startButton {
  font-size: 24px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}
